@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style type="text/css">
    .cxm-bg-white {
        background-color: #FFF;
    }
    .vertical-center {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .cxm1-p-1 {
        padding: 4px 10px;
    }

    .chatdivscroll {
      
        margin: 4px, 4px;
        padding: 4px;
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        text-align: justify;
    }
    .chatcontainer {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 7px 14px;
    }
    

    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

   
</style>

<link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet" />

<div class="row cxm-no-gutters cxm-bg-white 6 js-model_area_btns_div" style="font-size: 25px;">
    <div class="col-6 js-model_area_btn" onclick="changeselected(1);" data-area="status">
        <div class="text-center pad">
            <span id="sp1" class="fa fa-lightbulb-o text-blue" style="color:blue"></span>
        </div>
    </div>

    <div class="col-6 js-model_area_btn" data-area="chat">
        <div class="text-center pad" onclick="changeselected(2);">
            <span id="sp2" class="fa fa-paper-plane" style="color:gray"></span>
        </div>
    </div>
</div>

<div id="divdetails" class="hidden-sm hidden-md hidden-lg js-model_status_area cal_less_60_height" style="overflow: auto !important; height: 500px; background-color: #d2d6de;color:#000;position: relative;">
</div>


<div class="row cxm-equal-cols" id="js-chat_body_div" style="display: flex;">
    <div class="col-12">

        <div class="box box-default  xhidden" style="margin-top:0px;margin-bottom:0px;">
            <div class="box-header">

                <div class="box-tools pull-right hidden-sm-down">
                    <button type="button" class="btn btn-box-tool" style="margin-top: -5px;margin-right: -5px;" onclick="close_chat_section_again();" data-widget="xcollapse"><i class="fa fa-times text-danger"></i></button>
                </div>
                <!-- /.box-tools -->
            </div>

            <div id="divchat" class="box-body cxm-chat-bx">
                <div class="cxm-scrollnew chatdivscroll" id="js-chatbox-body">
                    <div id="js-chatbox" style="height: 300px;">
                        <!-- Conversations are loaded here -->
                        
                       

                    </div>
                </div>

                <center>&nbsp;<img style="display: none;" id="js-chat_box-loader" src="http://dev.roomchecking.imperialchoice.com/assets/admin/img/load-indicator.gif"> </center>
            </div>
        </div>

    </div>
</div>


<script type="text/javascript">

    var chatlength = 0;
        function changeselected(id) {
            if (id == 1) {

                $('#sp1').css('color', 'blue');
                $('#sp2').css('color', 'gray');
                $('#divdetails').show();
                $('#divchat').hide();
                $('#divchatfooter').hide();

            } else {
                $('#divdetails').hide();
                $('#divchat').show();
                $('#divchatfooter').show();
                $('#sp1').css('color', 'gray');
                $('#sp2').css('color', 'blue');
                getchat(pgroupid);
            }


        }

    $(document).ready(function () {
        $('#divdetails').show();
        $('#divchat').hide();
        $('#divchatfooter').hide();
        

             var myJsgroup = '@ViewBag.Groupid'
            var myJscurrent = '@ViewBag.CurrentSt'
            
            $.ajax({
                dataType: 'json',
                url: '/Dashboard/getDetailsofStatus?group=' + myJsgroup + '&statusid=' + myJscurrent+'',
                type: 'GET',
                success: function (data) {

                    $("#divdetails").html(data);

                },
                error: function () {
                    alert("Request Failed");
                }
            });
        });

        function Maintenance_combo_multi_task(groupid) {
            //alert($("#group-" + groupid).data("group_id"));
            var totaldivs = $("#js-maintenance_next_status_btns").children("div");
            for (var i = 0; i < $("#js-maintenance_next_status_btns").children("div").length; i++) {
                $("#" + totaldivs[i].id).hide();
            }

            if (document.getElementById("groupt-" + groupid) !== null) {
                $("#groupt-" + groupid).show();
            } else {
                alertify.notify("No Action Needed for this Status")
            }




    }

    function changestatus(st, nextst) {

        ajaxrequest(st, nextst)
        
    }

    function ajaxrequest(stid,nsid) {

        $.ajax({
            url: '/Dashboard/updatenextMaintenanceStatus',
            contentType: 'application/html; charset=utf-8',
            data: { 'id': stid, 'stid': nsid },
            type: 'GET',
            dataType: "json",
            success: function (result) {
                $('#full_screen_loader').hide();
                $("#mobloginModal").modal('hide');
                alertify.notify('<span class="fa fa-check" style="font-size:24px;"></span><br>' + " Good job! Your status has been saved", 'success', 3);
                window.location.reload();
                //document.getElementById('h4').innerHTML = buildingname + " >> " + mrooms;
                //$("#loginModal").modal('show');

            },
            error: function (xhr, status) {
                $('#full_screen_loader').hide();
                alertify.error('OOp! something went wrong...');
            },
            complete: function () { }

        });

    }


    function getchat(groupid) {

        $.ajax({
            url: '/Dashboard/getChat',
            contentType: 'application/html; charset=utf-8',
            data: { 'id': groupid, 'type': 1 },
            type: 'GET',
            dataType: "json",
            success: function (result) {

          
                $('#full_screen_loader').hide();
                var div = document.getElementById('js-chatbox');
                
                for (var i = chatlength; i < result.length; i++) {
                    if (result[i].name == 'You') {
                        if (result[i].img != "noimage") {
                            var html = "<div class='chatcontainer'> <div style='font-size: 12px;'><span style='font-weight: bold;' class='text-bold'>" + result[i].name + "</span> " + result[i].dtDate + " &nbsp;&nbsp; <a href='javascript:;' onclick='deleteComment(" + result[i].detailid + ");' style='color:#F00; font-size:15px;'> <i class='fa fa-trash' aria-hidden='true'></i> </a></div><div><img style='height:300px; width:300px;' src='/uploadimages/" + result[i].img + "'/></div><div style ='margin-bottom: 10px;margin-top: 10px;' class='margin-bottom'>" + result[i].varDescription + "</div></div>";
                            div.innerHTML += html
                        } else {
                            var html = "<div class='chatcontainer'> <div style='font-size: 12px;'><span style='font-weight: bold;' class='text-bold'>" + result[i].name + "</span> " + result[i].dtDate + " &nbsp;&nbsp; <a href='javascript:;' onclick='deleteComment(" + result[i].detailid + ");' style='color:#F00; font-size:15px;'> <i class='fa fa-trash' aria-hidden='true'></i> </a></div><div style ='margin-bottom: 10px;' class='margin-bottom'>" + result[i].varDescription + "</div></div>";
                            div.innerHTML += html
                        }
                        
                       
                    } else {

                        if (result[i].img != "noimage") {
                            var html = "<div class='chatcontainer darker'><div style='font-size: 12px;'><span style='font-weight: bold;'class='text-bold'>" + result[i].name + "</span> " + result[i].dtDate + " &nbsp;&nbsp;</div><div><img style='height:300px; width:300px;' src='/uploadimages/" + result[i].img + "'/></div><div style ='margin-bottom: 10px;margin-top: 10px;' class='margin-bottom'>" + result[i].varDescription + "</div></div>";
                            div.innerHTML += html
                        } else {
                            var html = "<div class='chatcontainer darker'><div style='font-size: 12px;'><span style='font-weight: bold;'class='text-bold'>" + result[i].name + "</span> " + result[i].dtDate + " &nbsp;&nbsp;</div><div style ='margin-bottom: 10px;' class='margin-bottom'>" + result[i].varDescription + "</div></div>";
                            div.innerHTML += html
                        }
                       
                    }

                }
                chatlength = result.length;
            },
            error: function (xhr, status) {
                $('#full_screen_loader').hide();
                alertify.error('OOp! something went wrong...');
            },
            complete: function () { }

        });

    }


    function saveChat() {
        if (document.getElementById('js-chat_maintenance_txt').value.length < 1) {

            alertify.error("Please Type something");

        } else { 

        $.ajax({
            url: '/Dashboard/saveChat',
            type: 'POST',
            data: { 'statusID': cstatusid, 'GroupID': pgroupid, 'type': 1, 'roomId': document.getElementById('hroomid').value, 'buildingID': document.getElementById('hbuildingid').value, 'description': document.getElementById('js-chat_maintenance_txt').value },
            dataType: 'json',
            success: function (d) {
                ///alertify.notify('<span class="fa fa-check" style="font-size:24px;"></span><br>' + " Good job! Your status has been saved", 'success', 3);

                document.getElementById('js-chat_maintenance_txt').value = "";
                getchat(pgroupid);
            },
            error: function (r) {

                alert(r);
            }
        });
    }
    }

    function deleteComment(commitid) {

        

            $.ajax({
                url: '/Dashboard/deleteChat',
                type: 'POST',
                data: { 'id': commitid, 'type': 1 },
                dataType: 'json',
                success: function (d) {
                    ///alertify.notify('<span class="fa fa-check" style="font-size:24px;"></span><br>' + " Good job! Your status has been saved", 'success', 3);
                    chatlength = 0;
                    $('#js-chatbox').empty();
                    document.getElementById('js-chat_maintenance_txt').value = "";
                    
                    getchat(pgroupid);
                },
                error: function (r) {

                    alert(r);
                }
            });
        

    }


</script>
