@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="row cxm-no-gutters cxm-bg-white 6 js-model_area_btns_div" style="font-size: 25px;">
    <div class="col-6 js-model_area_btn" onclick="changeselected(1);" data-area="status">
        <div class="text-center pad">
            <span id="sp1" class="fa fa-lightbulb-o text-blue" style="color:blue"></span>
        </div>
    </div>

    <div class="col-6 js-model_area_btn" data-area="chat">
        <div class="text-center pad" onclick="changeselected(2);">
            <span id="sp2" class="fa fa-paper-plane" style="color:gray"></span>
        </div>
    </div>
</div>

<div class="hidden-sm hidden-md hidden-lg js-model_status_area cal_less_60_height" style="overflow: auto !important; height: 1129px; background-color: #d2d6de;color:#000">
    <div>
        <div class="pad bg-gray mb-2">Room Status</div>
    </div>
</div>
    <script type="text/javascript">
        function changeselected(id) {
            if (id == 1) {

                $('#sp1').css('color', 'blue');
                $('#sp2').css('color', 'gray');
            } else {
                $('#sp1').css('color', 'gray');
                $('#sp2').css('color', 'blue');
            }


        }



    </script>
