@using RoomCheckingSystem.Models;
@model IEnumerable<sploadbuildings>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}
<link href="~/css/accordin.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">

<style>
    #full_screen_loader {
        z-index: 10001;
    }

    .modal-header {
        background-color: #999;
        color: #FFF;
    }

    .cxm-modal {
        text-align: center;
        padding: 0 !important;
    }

    .cxm-clock-pad {
        padding-right: 65px;
    }

    .cxm-clock {
        position: absolute;
        bottom: -34px;
        right: -7px;
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 24px;
        padding-right: 10px;
        display: inline-block;
        background-color: #EEE;
        text-align: center;
        color: #555;
    }

    

    .cxm-clock1 {
        font-size:15px;
        position: absolute;
        bottom: -13px;
        right: -7px;
        padding: 10px;
        padding-top: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 13px;
        padding-top: 0px;
        padding-bottom: 8px;
        padding-right: 10px;
        display: inline-block;
        background-color: #EEE;
        text-align: center;
        color: #555;
    }

    .reveal-modal {
        position: fixed;
        margin: 0 auto;
        top: 0%;
    }

    .modal-lg {
        max-width: 45% !important;
    }

    .modal-header {
        padding: 12px;
    }

    h4, h4 {
        font-size: 16px;
        font-weight: bold;
    }

    .btn-danger:hover, .btn-danger:active, .btn-danger.hover {
        background-color: #d73925;
    }

    .btn-danger:hover {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }

    .cxm-btn-1 {
        box-shadow: 0px 0px 0px 2px #Fff, 0px 0px 0px 4px rgba(0,0,0,0.2);
    }

    .cxm-clock {
        position: absolute;
        bottom: -27px;
        right: -7px;
        padding: 15px;
        padding-top: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 24px;
        padding-right: 10px;
        display: inline-block;
        background-color: #EEE;
        text-align: center;
        color: #555;
    }

    .cxm-clock-pad {
        padding-right: 65px;
    }

    .small-box .inner {
        padding: 5px 0;
    }

    .small-box {
        text-align: center;
    }

    .small-box {
        border-radius: 2px;
        position: relative;
        display: block;
        margin-bottom: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

        .small-box .icon {
            display: none;
        }

        .small-box .inner h3, .small-box .inner .make-text_bold {
            margin-bottom: 3px;
        }

        .small-box h3 {
            font-size: 19px;
        }

        .small-box h3, .small-box p {
            z-index: 5px;
        }

        .small-box h3 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 10px 0;
            margin-bottom: 10px;
            white-space: nowrap;
            padding: 0;
        }

        .small-box p {
            font-size: 12px;
        }

        .animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 2s;
  animation-name: animatebottom;
  animation-duration: 2s
}
@@-webkit-keyframes animatebottom {
  from { bottom:-50px; opacity:0 }
  to { bottom:0px; opacity:1 }
}
@@keyframes animatebottom {
  from{ bottom:-50px; opacity:0 }
  to{ bottom:0; opacity:1 }
}
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 100%;
    }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }


    .box {
        position: relative;
        border-radius: 5px;
        background: #ffffff;
        background-color: rgb(255, 255, 255);
        border-top: 3px solid #d2d6de;
        margin-bottom: 20px;
        width: 100%;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
        margin-top: 0px;
        padding-top: 5px;
    }
    .btn-default {
        background-color: #f4f4f4;
        color: #444;
        border-color: #ddd;
    }
    .removeshadow {
        text-decoration: none;
        box-shadow: none !important;
        font-size: 14px;
    }

    .chatcontainer {
        border: 2px solid #dedede;
        background-color: #f1f1f1;
        border-radius: 5px;
        padding: 10px;
        margin: 7px 14px;
    }


    .darker {
        border-color: #ccc;
        background-color: #ddd;
    }

    .validation-failed {
        border: 1px solid #eb340a !important;
        background-color: #faebe7 !important;
    }
</style>
 

<link href="~/css/dashboard.css" rel="stylesheet" />
<div id="maindiv" style="padding:15px;">


    <div class="row cxm-card-1 margin-bottom hidden-lg-down pt-2">
        <div class="col-sm-4 col-md-6" id="js-desktop_summary" style="padding-top:10px;">
           

            @*<div class="cxm-bx-1 small-box bg-green" style="background-color:#eceef4 !important; color: #000 !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Total Jobs</div>
            </div><div class="cxm-bx-1 small-box bg-green" style="background-color:#008000  !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Completed Jobs</div>
            </div><div class="cxm-bx-1 small-box bg-green" style="background-color: #008000 !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Running Jobs</div>
            </div>
            <div class="cxm-bx-1 small-box bg-green" style="background-color:#ff6666 !important; ">
                <div class="cxm-count-1">1</div>
                <div class="cxm-ttl-1">Check Out</div>
            </div>*@



        </div>



        <input name="date_activity" id="date_activity" type="hidden" value="today">

        <div class="col-sm-8 col-md-6">
            <div class="row">

                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">

                            <div class="col-sm-9">
                                <span class="fa fa-calendar"></span> Today
                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_today" checked="checked" value="today" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control mb-2" name="building" id="building">

                        <option value="">All Buildings</option>
                        <option value="10">81-83</option>
                        <option value="11">77-79</option>
                        <option value="12">55</option>
                        <option value="13">34</option>

                    </select>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">
                            <div class="col-sm-9">
                                <span class="fa fa-calendar"></span> Tomorrow
                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_tomorrow" value="tomorrow" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="room_floor" id="room_floor">
                        <option value="">All Floors</option>

                        <option value="-1">Basement 01</option>

                        <option value="0">Ground Floor</option>

                        <option value="1">01st Floor</option>

                        <option value="2">02nd Floor</option>

                        <option value="3">03rd Floor</option>

                        <option value="4">04th Floor</option>

                        <option value="Basement">Basement</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">
                            <div class="col-sm-9">

                                <div id="js-calander_custom_icon">
                                    <span class="fa fa-calendar"></span> Calendar
                                </div>

                                <div style="color:#000;display:none;" id="js-calander_custom_field">
                                    <input name="custom_date" class="form-control input-sm" id="custom_date" min="2020-04-01" max="2021-05-24" value="2021-04-24" type="date">
                                </div>


                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_custom" value="custom" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="room_type" id="room_type">
                        <option value="">All Kinds of Rooms</option>
                        <option value="DBL">DBL</option>
                        <option value="DUP">DUP</option>
                        <option value="FAM">FAM</option>
                        <option value="LOB">LOB</option>
                        <option value="MOB">MOB</option>
                        <option value="SOB">SOB</option>
                        <option value="TBA">TBA</option>
                        <option value="TRP">TRP</option>
                    </select>
                </div>

            </div>

        </div>

    </div>


    <div class="hidden-md-up">
        <div id="js-summary_boxes">
            
        </div>
    </div>

    <link href="~/css/loader.css" rel="stylesheet" />
    <div class="loading" id="full_screen_loader" style="display: none;">Loading…</div>
    <div class="row">
        <div class="col-sm-12">
            <div role="dialog" class="modal fade in reveal-modal" tabindex="-1" id="loginModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="h4"> </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>
                        </div>

                        <div class="modal-body" id="dialogbody">

                        </div>

                        <div class="modal-footer">
                            <div class="row m-auto w-100">

                                <div id="dvsavebutton" class="col-lg-3 col-md-12 text-left col-sm-12">
                                    <button type="button" id="btnsave" onclick="savestatus('');" class="btn btn-success btn-block cxm-btn-1">Save</button>
                                </div>
                                <div id="divchatmaster" class="col-lg-6 col-md-12 col-sm-12" style="text-align:center;">
                                    <div id="divstartchat" style="display:block">

                                        <a href="javascript:;" onclick="startChat(); return false;" class="btn btn-link text-bold text-block" style="color:#000000;font-weight:bold;"><span class="fa fa-paper-plane"></span> Start Chat</a>
                                    </div>

                                    <div class="input-group removeshadow" id="js-chat_box_btn" style="display: none;padding-right:0px;padding-left:0px;">

                                        <div style="position:relative;">
                                            <input name="message" style="float: left; width: 100%; margin-bottom: 0;" class="form-control removeshadow" id="js-chat_txt" autocomplete="off" placeholder="Type message...">
                                        </div>

                                        <div class="input-group-btn" style="display: table-cell;width: 10%;">
                                            <a class="btn btn-default btn-flat" role="button" data-toggle="collapse" href="#collapseAttachment" onclick="if($('#collapseAttachment').hasClass('in')){setTimeout (()=>resetEditorFileModule ('#js-chatSeletedImage,#js-chatImageAttachImage img,#js-imageAttachToolBar,#js-chatImageAttachImage')  , 500)}" aria-expanded="false" aria-controls="collapseAttachment"><span class="fa fa-paperclip"></span></a>
                                        </div>


                                        <div class="input-group-btn" style="display: table-cell;width: 10%;">
                                            <button type="button" class="btn btn-default" id="js-chat_btn" onclick="savechat();"><i class="fa fa-paper-plane"></i></button>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-lg-3 col-md-12 col-sm-12 ">
                                    <button type="button" onclick="close_chat_section_again();" class="btn btn-danger btn-block cxm-btn-1" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="dashboardview">

        <div id="js-dashboard_table" style="text-align: center; margin-top: 10px;">
            <center> Working please wait... </center>
        </div>
    </div>

    <div id="dashboardviewmob" class="card animate-bottom">


    </div>




</div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        var Parentstatus = -1;
        var ChildStatus = -1;
        var mprority = false;
        var mcleaningtime = "";
        var statusID = -1;
        var bulidname;
        var Roomname;
        var stid;


        $(window).resize(function () {

        });

        $(document).ready(function () {       //Error happens here, $ is not defined.

           // openalltabs();
            //$("#btnShowModal").click(function () {
            //    $("#loginModal").modal('show');
            //});
            alertify.set('notifier', 'position', 'top-center');
            //$("#dashboardview").load('@Url.Content("/Dashboard/Maintenancedata")');

            loadgrid();

            $("#btnHideModal").click(function () {
                $("#loginModal").modal('hide');
            });

            loadsummary();
            loadmobsummary();




        });

        function loadmobsummary() {
            $("#js-summary_boxes").innerHTML = ""
            $("#js-summary_boxes").load("/Dashboard/getmobSummary?id=1", function () {
                    
                })

        }



        function loadsummary() {
            $("#js-desktop_summary").innerHTML = ""
            $("#js-desktop_summary").load("/Dashboard/getSummary?id=1", function () {

            })

        }


        function loadgrid() {

            var menu_container = $('#js-dashboard_table');
            $(menu_container).html("<img src='../images/load-indicator.gif' /> <span class='js-msg'>Working please wait...</span>");
            $.ajax({
                //url:'/Dashboard/Housekeepingdata',
                  url:'@Url.Action("Housekeepingdata", "Dashboard")',
                contentType: 'application/html; charset=utf-8',
                type: 'GET',
                dataType: 'html',
                success: function (result) {
                    $('#full_screen_loader').hide();
                    $('#dashboardview').empty();
                    $('#dashboardview').html(result);
                    //openalltabs();

                },
                error: function (xhr, status) {
                    $('#full_screen_loader').hide();
                    $('#js-dashboard_table').hide();
                    alertify.error('OOp! something went wrong...');
                },
                complete: function () { }

            });
        }


        var AddRooms = function () {
            $("#roomModalBody").load("/Home/CreateRoom", function () {
                $("#create-room").modal("show");
            })
        }

        function show_status_in_model(buildingname, buildingid, mrooms, roomid, ps, cs, prority, cleaningtime, sid, dialog,stID) {



            $('#full_screen_loader').show();
            document.getElementById('hbuildingid').value = buildingid;
            document.getElementById('hroomid').value = roomid;
            Parentstatus = ps;
            ChildStatus = cs;
            mprority = prority;
            mcleaningtime = cleaningtime;
            statusID = sid;
            bulidname = buildingname;
            Roomname = mrooms;
            stid = stID
            if ($(document).width() <= 750) {
                $.ajax({
                    url: '/Dashboard/mobdialog/' + stID,
                     
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#full_screen_loader').hide();

                        $('#dashboardviewmob').html(result);
                        $('#dashboardviewmob').show();
                        $('#dashboardview').hide();
                        //document.getElementById('h4').innerHTML = buildingname + " >> " + mrooms;
                        //$("#loginModal").modal('show');

                    },
                    error: function (xhr, status) {
                        $('#full_screen_loader').hide();
                        alertify.error('OOp! something went wrong...');
                    },
                    complete: function () { }

                });



            } else {

                $.ajax({
                    url: '/Dashboard/Createdialog',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#full_screen_loader').hide();
                        $('#dialogbody').html(result);
                        document.getElementById('h4').innerHTML = buildingname + " >> " + mrooms;
                        $("#loginModal").modal('show');
                        if (statusID > 0) {
                            if (prority == 'True') {
                                $('#js-is_priority').prop('checked', true);
                                $("#js-priority_time").val("-1").change();
                            }
                            else {
                                if (mcleaningtime != "-1" && mcleaningtime != "") {
                                    $("#js-priority_time").val(cleaningtime + ':00').change();
                                    $('#js-is_priority').prop('checked', false);
                                }
                            }

                        }

                    },
                    error: function (xhr, status) {
                        $('#full_screen_loader').hide();
                        alertify.error('OOp! something went wrong...');
                    },
                    complete: function () { }

                });
            }
            //.done()(function (result) {
            //    alert(result);
            //    $('#dialogbody').html(result);
            //    $("#loginModal").modal('show');
            //})
            //    .fail()(function (xhr, status) {
            //    alert(status);
            //})


            //$("#dialogbody").load("/Dashboard/Createdialog", function () {
            //    $("#loginModal").modal('show');
            //})


        }


        // custom function open the tabs
        function openalltabs() {
            var acc = document.getElementsByClassName("accordion");

            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].classList.toggle("active");
                var panel = acc[i].nextElementSibling;
                panel.classList.add("panel");
                panel.style.maxHeight = panel.scrollHeight + "px";
            }

        }
        function savestatus(message) {

            var $parent = $('#ParendStatus').val();
            var $child = $('#ChildStatus').val();
            var $clearningtime = $('#js-priority_time').val();
            var status = "-1";
            if ($parent != -1 && $child != -1) {
                status = $child;
            }
            else if ($parent != -1 && $child == -1) {
                status = $parent;
            }
            var buildingid = document.getElementById('hbuildingid').value;
            var roomid = document.getElementById('hroomid').value;
            $checkboxvalue = $('#js-is_priority').prop('checked');


            var statusDetails = {

                intParentStatus: $parent,
                intChildStatus: $child,
                Cleaningtime: $clearningtime,
                isproritysetting: $checkboxvalue,
                intBuildingID: buildingid,
                intRoomID: roomid,
                intStatusID: status
                


            };
            //alert(JSON.stringify(statusDetails));
            alertify.notify('Working please wait...');
            $.ajax({
                url: '/Dashboard/SaveSelectedStatus',
                type: 'POST',
                data: { 'statusDetails': JSON.stringify(statusDetails), 'id': statusID, 'comment': message },
                dataType: 'json',

                success: function (d) {

                    $("#loginModal").modal('hide');
                    alertify.notify('<span class="fa fa-check" style="font-size:24px;"></span><br>' + " Good job! Your status has been saved", 'success', 3);
                    loadgrid();
                    loadsummary();
                    loadmobsummary();



                },
                error: function (r) {
                    alertify.error('OOp! something went wrong...');
                    //alert(r);
                }
            });

        }
        function showhidediv() {
            $('#dashboardviewmob').hide();
            $('#dashboardview').show();

        }

        function ajaxrequest(sid) {

            $.ajax({
                url: '/Dashboard/updatenextStatus',
                contentType: 'application/html; charset=utf-8',
                data: { 'id': statusID, 'stid': sid },
                type: 'GET',
                dataType: "json",
                success: function (result) {
                    $('#full_screen_loader').hide();
                    $('#dashboardviewmob').hide();
                    $('#dashboardview').show();
                    window.location.reload();
                    //document.getElementById('h4').innerHTML = buildingname + " >> " + mrooms;
                    //$("#loginModal").modal('show');

                },
                error: function (xhr, status) {
                    $('#full_screen_loader').hide();
                    alertify.error('OOp! something went wrong...');
                },
                complete: function () { }

            });

        }




        function startChat() {
            $('#js-chat_body_div').show();
            var element = document.getElementById("dvsavebutton");
            element.classList.remove("col-lg-3");
            $('#dvsavebutton').hide();
            var chatmaster = document.getElementById("divchatmaster");
            chatmaster.classList.remove("col-lg-3");
            chatmaster.classList.add("col-lg-9");
            $('#divstartchat').hide();
            $("#js-chat_box_btn").css("display", "table");
            getchat(35);

            

            
        }

        function close_chat_section_again() {
            $('#js-chat_body_div').hide();
            var element = document.getElementById("dvsavebutton");
            element.classList.add("col-lg-3");
            $('#dvsavebutton').show();

            var chatmaster = document.getElementById("divchatmaster");
            chatmaster.classList.remove("col-lg-9");
            chatmaster.classList.add("col-lg-6");
            $('#divstartchat').show();
            $("#js-chat_box_btn").css("display", "none");
        }

        function getchat(groupid) {
            var chatlength = 0;
            $.ajax({
                url: '/Dashboard/getChat',
                contentType: 'application/html; charset=utf-8',
                data: { 'id': groupid, 'type': 2 },
                type: 'GET',
                dataType: "json",
                success: function (result) {


                    $('#full_screen_loader').hide();
                    var div = document.getElementById('js-chatbox');

                    for (var i = chatlength; i < result.length; i++) {
                        if (result[i].name == 'You') {
                            if (result[i].img != "noimage") {
                                var html = "<div class='chatcontainer'> <div style='font-size: 12px;'><span style='font-weight: bold;' class='text-bold'>" + result[i].name + "</span> " + result[i].dtDate + " &nbsp;&nbsp; <a href='javascript:;' onclick='deleteComment(" + result[i].detailid + ");' style='color:#F00; font-size:15px;'> <i class='fa fa-trash' aria-hidden='true'></i> </a></div><div><img id=img" + i + " onclick='expendimage(" + i + ");' style='height:300px; width:300px;' src='/uploadimages/" + result[i].img + "'/></div><div style ='margin-bottom: 10px;margin-top: 10px;' class='margin-bottom'>" + result[i].varDescription + "</div></div>";
                                div.innerHTML += html
                            } else {
                                var html = "<div class='chatcontainer'> <div style='font-size: 12px;'><span style='font-weight: bold;' class='text-bold'>" + result[i].name + "</span> " + result[i].dtDate + " &nbsp;&nbsp; <a href='javascript:;' onclick='deleteComment(" + result[i].detailid + ");' style='color:#F00; font-size:15px;'> <i class='fa fa-trash' aria-hidden='true'></i> </a></div><div style ='margin-bottom: 10px;' class='margin-bottom'>" + result[i].varDescription + "</div></div>";
                                div.innerHTML += html
                            }


                        } else {

                            if (result[i].img != "noimage") {
                                var html = "<div class='chatcontainer darker'><div style='font-size: 12px;'><span style='font-weight: bold;'class='text-bold'>" + result[i].name + "</span> " + result[i].dtDate + " &nbsp;&nbsp;</div><div><img id=img" + i + " style='height:300px; width:300px;' src='/uploadimages/" + result[i].img + "'/></div><div style ='margin-bottom: 10px;margin-top: 10px;' class='margin-bottom'>" + result[i].varDescription + "</div></div>";
                                div.innerHTML += html
                            } else {
                                var html = "<div class='chatcontainer darker'><div style='font-size: 12px;'><span style='font-weight: bold;'class='text-bold'>" + result[i].name + "</span> " + result[i].dtDate + " &nbsp;&nbsp;</div><div style ='margin-bottom: 10px;' class='margin-bottom'>" + result[i].varDescription + "</div></div>";
                                div.innerHTML += html
                            }

                        }

                    }
                    chatlength = result.length;
                },
                error: function (xhr, status) {
                    $('#full_screen_loader').hide();
                    alertify.error('OOp! something went wrong...');
                },
                complete: function () { }

            });

        }

        function savechat() {
            var $parent = $('#ParendStatus').val();
            var $child = $('#ChildStatus').val();
            var message = $('#js-chat_txt').val();
            if ($parent == -1 && $child == -1) {
                alertify.error("Please select status first!");
            }
            else if (message.length < 1) {
                $('#js-chat_txt').addClass("validation-failed");
                alertify.error("Please provide comment!");
            }
            else {
                savestatus(message);
            }

            
            

           

        }

        
    </script>
