@using RoomCheckingSystem.Models;
@model IEnumerable<sploadbuildings>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link href="~/css/accordin.css" rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet">
<link href="~/css/dashboard.css" rel="stylesheet" />
<link href="~/css/maintenance.css" rel="stylesheet" />
<style>
    input[type="file"] {
        display: none;
    }
    .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
    }


    .text-red {
        color: #dd4b39 !important;
    }
    #full_screen_loader {
        z-index: 10001;
    }

    .layout {
    }

    .modal-header {
        background-color: #999;
        color: #FFF;
    }

    .cxm-modal {
        text-align: center;
        padding: 0 !important;
    }

    .cxm-clock-pad {
        padding-right: 65px;
    }

    .cxm-clock {
        position: absolute;
        bottom: -34px;
        right: -7px;
        padding: 15px;
        padding-top: 15px;
        padding-bottom: 24px;
        padding-right: 10px;
        display: inline-block;
        background-color: #EEE;
        text-align: center;
        color: #555;
    }

    .reveal-modal {
        position: fixed;
        margin: 0 auto;
    }

    .modal-lg {
        max-width: 45% !important;
    }
    .modal_mob-lg {
        max-width: 100% !important;
        height:500px !important;
    }


    .modal-header {
        padding: 12px;
    }

    h4, h4 {
        font-size: 16px;
        font-weight: bold;
    }

    .btn-danger:hover, .btn-danger:active, .btn-danger.hover {
        background-color: #d73925;
    }

    .btn-danger:hover {
        color: #fff;
        background-color: #c9302c;
        border-color: #ac2925;
    }

    .cxm-btn-1 {
        box-shadow: 0px 0px 0px 2px #Fff, 0px 0px 0px 4px rgba(0,0,0,0.2);
    }

    .text-green {
        color: #00a65a !important;
    }

    .alertify-notifier.ajs-center {
        left: 50%;
    }

    .alertify-notifier.ajs-top {
        top: 10px;
    }

    .ajs-top {
        top: 50% !important;
        transform: translate(-50%, -50%);
    }

    .cxm-room-bx-square {
        display: inline-block;
        padding: 5px 7px;
        width: 150px;
        height: 115px;
        font-size: 15px;
        margin: 0px 2px 6px 0px;
    }

    .cxm-room-bx {
        font-size: 18px;
        margin-bottom: 10px;
        position: relative;
        overflow: hidden;
    }

    .cxm-no-gutters {
        margin-right: 0;
        margin-left: 0;
    }

    .cxm-col {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }

    .small-box .icon {
        display: none;
    }

    .small-box .inner {
        padding: 5px 0;
    }

    .small-box {
        text-align: center;
    }

    .small-box {
        border-radius: 2px;
        position: relative;
        margin-bottom: 20px;
        box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    }

        .small-box .inner h3, .small-box .inner .make-text_bold {
            margin-bottom: 3px;
        }

        .small-box h3 {
            font-size: 19px;
        }

        small-box h3, .small-box p {
            z-index: 5px;
        }

        .small-box h3 {
            font-size: 16px;
            font-weight: bold;
            margin: 0 0 10px 0;
            margin-bottom: 10px;
            white-space: nowrap;
            padding: 0;
        }

    .validation-failed {
        border: 1px solid #eb340a !important;
        background-color: #faebe7 !important;
    }
    .chatfooter {
        margin-bottom: 10px;
        padding-left: 0px;
        padding-right: 35px;
    }
    .padnew {
        padding: 10px;
    }
    
</style>

<div id="maindiv" style="padding:15px;">


    <div class="row cxm-card-1 margin-bottom hidden-lg-down pt-2">
        <div class="col-sm-4 col-md-6" id="js-desktop_summary" style="padding-top: 23px;">
            @*<div class="cxm-bx-1 small-box bg-green" style="background-color:#eceef4 !important; color: #000 !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Total Jobs</div>
            </div><div class="cxm-bx-1 small-box bg-green" style="background-color:#008000  !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Completed Jobs</div>
            </div><div class="cxm-bx-1 small-box bg-green" style="background-color: #008000 !important;">
                <div class="cxm-count-1">0</div>
                <div class="cxm-ttl-1">Running Jobs</div>
            </div>*@
        </div>



        <input name="date_activity" id="date_activity" type="hidden" value="today">     
        <div class="col-sm-8 col-md-6">
            <div class="row">

                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">
                            <div class="col-sm-9">
                                <span class="fa fa-calendar"></span> Today
                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_today" checked="checked" value="today" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control mb-2" name="building" id="building">

                        <option value="">All Buildings</option>
                        <option value="10">81-83</option>
                        <option value="11">77-79</option>
                        <option value="12">55</option>
                        <option value="13">34</option>

                    </select>
                </div>
            </div>


            <div class="row">

                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">
                            <div class="col-sm-9">
                                <span class="fa fa-calendar"></span> Tomorrow
                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_tomorrow" value="tomorrow" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="room_floor" id="room_floor">
                        <option value="">All Floors</option>

                        <option value="-1">Basement 01</option>

                        <option value="0">Ground Floor</option>

                        <option value="1">01st Floor</option>

                        <option value="2">02nd Floor</option>

                        <option value="3">03rd Floor</option>

                        <option value="4">04th Floor</option>

                        <option value="Basement">Basement</option>
                    </select>
                </div>
            </div>


            <div class="row">
                <div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2 col-lg-offset-2 offset-2">
                    <div class="bg-blue p-2 rounded mb-2">
                        <div class="row">
                            <div class="col-sm-9">

                                <div id="js-calander_custom_icon">
                                    <span class="fa fa-calendar"></span> Calendar
                                </div>

                                <div style="color:#000;display:none;" id="js-calander_custom_field">
                                    <input name="custom_date" class="form-control input-sm" id="custom_date" min="2020-04-01" max="2021-05-24" value="2021-04-24" type="date">
                                </div>


                            </div>
                            <div class="col-sm-3">
                                <div class="xcheckbox text-right">
                                    <label class="margin-bottom-none" style="margin:0px;"><input class="js-cal_select_type" id="js-cal_select_type_custom" value="custom" type="radio" name="cal_select_type"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <select class="form-control" name="room_type" id="room_type">
                        <option value="">All Kinds of Rooms</option>
                        <option value="DBL">DBL</option>
                        <option value="DUP">DUP</option>
                        <option value="FAM">FAM</option>
                        <option value="LOB">LOB</option>
                        <option value="MOB">MOB</option>
                        <option value="SOB">SOB</option>
                        <option value="TBA">TBA</option>
                        <option value="TRP">TRP</option>
                    </select>
                </div>

            </div>

        </div>

    </div>

    <div class="hidden-md-up">
        <div id="js-summary_boxes">
            
            <div class="cxm-row"></div>
        </div>
    </div>

    <link href="~/css/loader.css" rel="stylesheet" />
    <div class="loading" id="full_screen_loader" style="display: none;">Loading…</div>
    <div class="row">
        <div class="col-sm-12">
            <div role="dialog" class="modal fade in reveal-modal" tabindex="-1" id="loginModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal-dialog-scrollable modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="h4"> </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>

                        </div>

                        <div class="modal-body" id="dialogbody">




                        </div>

                        <div class="modal-footer">
                            <div class="row m-auto w-100">

                                <div class="col-lg-3 col-md-2 text-left cxm-mb-3">
                                    <button type="button" id="btnsave" onclick="savestatus();" class="btn btn-success btn-block cxm-btn-1">Save</button>
                                </div>
                                <div class="col-lg-6 cxm-mb-3 text-left">
                                    <button type="button" id="js-maintenance_addtask_btn" class="btn btn-link btn-block text-black no-padding text-sm" style="display:flex; align-items:center; "><span class="fa fa-plus-circle text-green" style="font-size:28px; margin-right:3px; text-decoration:none;"></span> Add Task</button>

                                </div>
                                <div class="col-sm-3 cxm-mb-3 ">
                                    <button type="button" class="btn btn-danger btn-block cxm-btn-1" data-dismiss="modal">Close</button>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    @*// mobile dialog*@

    <div class="row">
        <div class="col-sm-12">
            <div role="dialog" class="modal fade in reveal-modal" tabindex="-1" id="mobloginModal"
                 data-keyboard="false" data-backdrop="static">
                <div class="modal-dialog modal_mob-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="h4_mob"> </h4>
                            <button type="button" class="close" data-dismiss="modal">
                                ×
                            </button>

                        </div>

                        <div class="modal-body" id="mobdialogbody">




                        </div>

                        <div class="modal-footer">
                            @*<div class="row m-auto w-100">

            <div class="col-lg-3 col-md-2 text-left cxm-mb-3">
                <button type="button" id="btnsave" onclick="savestatus();" class="btn btn-success btn-block cxm-btn-1">Save</button>
            </div>
            <div class="col-lg-6 cxm-mb-3 text-left">
                <button type="button" id="js-maintenance_addtask_btn" class="btn btn-link btn-block text-black no-padding text-sm" style="display:flex; align-items:center; "><span class="fa fa-plus-circle text-green" style="font-size:28px; margin-right:3px; text-decoration:none;"></span> Add Task</button>

            </div>
            <div class="col-sm-3 cxm-mb-3 ">
                <button type="button" class="btn btn-danger btn-block cxm-btn-1" data-dismiss="modal">Close</button>
            </div>

        </div>*@
                            <div id="divchatfooter" class="row m-auto w-100">
                                    <div class="col-12 chatfooter" style="padding-right:0px;">
                                        <div class="row">
                                            <div class="col-11" style="padding-right: 0px;">
                                                <textarea class="form-control" id="js-chat_maintenance_txt" autocomplete="off" placeholder="Type message..."></textarea>
                                            </div>
                                            <div class="col-1 align-items: flex-start" style="padding-left:0px;">

                                                <label class="btn-primary" style="right: 14px;  padding: 17px 7px 20px 7px;margin-bottom:0px;"
           onchange='openFile(event)'>
            <input type="file" id="file" />
        <span class="fa fa-camera" style="color:white;"></span></label>
                                            </div>
                                        </div>
                                       
                                    
                                        @*<a class="btn-primary" style="position: absolute; right: 2px; bottom: 0; padding: 17px 6px 17px 6px;" 
                                           onchange='openFile(event)'>
                                            <input type="file" id="file" />
                                        <span class="fa fa-camera" style="color:white;"></span></a>*@

                                    </div>
                                
                                        <div class="col-12 padnew bg-green fc1 btn-block text-center" style="background-color: #00a65a !important; height: 50px; font-size: 20px;" onclick="saveChat()">Send <span class="fa fa-paper-plane"></span></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <div id="dashboardview">
                <div id="js-dashboard_table" style="text-align: center; margin-top: 10px;">
                    <center> Working please wait... </center>
                </div>

            </div>
        </div>

        <script src="~/lib/jquery/dist/jquery.js"></script>


        <script type="text/javascript">
            var Parentstatus = -1;
            var ChildStatus = -1;
            var cstatusid = -1;
            var pgroupid = -1;
            var date;
            var rows = 0;
            var editemplate = "";
           const mroomid = -1;
            var HousekeepingID = -1;
            var base64string = "";

            var acc = document.getElementsByClassName("accordion");
            var i;

            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;

                    if (panel.style.maxHeight) {
                        panel.style.maxHeight = null;
                        panel.classList.add("panelhide");


                    } else {

                        panel.classList.add("panel");
                        panel.style.maxHeight = panel.scrollHeight + "px";


                    }
                });



            }

            function loadgrid() {
                var menu_container = $('#js-dashboard_table');
                $(menu_container).html("<img src='../images/load-indicator.gif' /> <span class='js-msg'>Working please wait...</span>");
                $.ajax({
                    //url: '/Dashboard/Maintenancedata',
                  url:'@Url.Action("Maintenancedata", "Dashboard")',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#full_screen_loader').hide();
                        $('#dashboardview').empty();
                        $('#dashboardview').html(result);
                        //openalltabs();

                    },
                    error: function (xhr, status) {
                        $('#full_screen_loader').hide();
                        alertify.error('OOp! something went wrong...');
                        //alert(status);
                    },
                    complete: function () { }

                });
            }
            function loadsummary() {
                $("#js-desktop_summary").innerHTML = ""
                $("#js-desktop_summary").load("/Dashboard/getSummary?id=2", function () {

                })

            }

            function loadmobsummary() {
                $("#js-summary_boxes").innerHTML = ""
                $("#js-summary_boxes").load("/Dashboard/getmaintanencemobSummary?id=2", function () {

                })

            }


            function editcontrols(roomid) {

                var templete = editemplate;

                if (rows > 1) {
                for (i = 1; i < rows; i++) {
                    $("#divdynamic").append("<div id='contentdiv_" + (i + 1) + "'  class='layout'>" + templete + "</div>");
                    setcontrolid((i + 1));
                    var message = document.getElementById('hiv_' + roomid).value;

                    if (message != "") {
                        const myArray = JSON.parse(message);
                        if (myArray.length > 0) {
                            $('#ParendStatus_' + (i + 1) + ' option[value=' + myArray[i].pStatus + ']').attr('selected', 'selected');
                            $('#ChildStatus_' + (i + 1) + ' option[value=' + myArray[i].cStatus + ']').attr('selected', 'selected');
                            $('#texdes_' + (i + 1)).val(myArray[i].Description);
                            $("#texdes_" + (i + 1)).removeAttr("disabled");
                            $("#ChildStatus_" + (i + 1)).removeAttr("disabled");
                            $('#hivid_' + (i + 1)).val(myArray[i].statusid);
                        }
                    }

                    if ($(".js-maintenance_combo_remove_task").length > 1) {
                        $(".js-maintenance_combo_remove_task").show();
                    }
                }
            }


            }

            function createcontrols() {

                //its mean we have temple to add new task
                //var templete = $("#contentdiv_1").html();
                var templete = editemplate;
                var divno = $(".layout");
                var nodiv = divno.length;
                nodiv = nodiv + 1;

                $("#divdynamic").append("<div id='contentdiv_" + nodiv + "'  class='layout'>" + templete + "</div>");
                setcontrolid(nodiv);
                if ($(".js-maintenance_combo_remove_task").length > 1) {
                    $(".js-maintenance_combo_remove_task").show();
                }

            }
            $(document).ready(function () {       //Error happens here, $ is not defined.
                alertify.set('notifier', 'position', 'top-center');
                //$("#dashboardview").load('@Url.Content("/Dashboard/Maintenancedata")');

                loadgrid();
                loadsummary();
                loadmobsummary();


                //$("#btnShowModal").click(function () {
                //    $("#loginModal").modal('show');
                //});

                $("#btnHideModal").click(function () {
                    $("#loginModal").modal('hide');
                });


                $("#js-maintenance_addtask_btn").click(function () {
                    //alertify.notify('Working please wait...');
                    //alertify.success("helow")
                    //alertify.notify('<span class="fa fa-check" style="font-size:24px;"></span><br>' + " Good job! Your status has been saved", 'success', 3);
                    createcontrols();


                });

            });


            function setcontroldata(id) {
                var index = 0;
                $("#contentdiv_" + id).find('select, textarea,span')
                    .each(function () {

                        if (index == 0) {
                            $(this).attr('id', 'ParendStatus_' + id)
                        } else if (index == 2) {
                            $(this).attr('id', 'ChildStatus_' + id)

                        }
                        else if (index == 3) {
                            $(this).attr('id', 'btndelete_' + id)

                        }
                        else if (index == 5) {
                            $(this).attr('id', 'texdes_' + id)
                        }

                        index++;

                    });




            }


            function setcontrolid(id) {
                var index = 0;
                $("#contentdiv_" + id).find('select, textarea,span,input:hidden')
                    .each(function () {

                        if (index == 0) {
                            $(this).attr('id', 'ParendStatus_' + id)
                        } else if (index == 2) {
                            $(this).attr('id', 'ChildStatus_' + id)

                        }
                        else if (index == 3) {
                            $(this).attr('id', 'btndelete_' + id)

                        }
                         else if (index == 5) {
                            $(this).attr('id', 'texdes_' + id)
                        }

                        else if (index == 6) {
                            $(this).attr('id', 'hivid_' + id)
                        }

                        //alert(index);


                        index++;

                    });




            }


            var AddRooms = function () {
                $("#roomModalBody").load("/Home/CreateRoom", function () {
                    $("#create-room").modal("show");
                })
            }


            function show_status_in_model(buildingname, buildingid, mrooms, roomid, ps, cs, id, groupid,dt,count) {

                $('#full_screen_loader').show();
                document.getElementById('hbuildingid').value = buildingid;
                document.getElementById('hroomid').value = roomid;

                Parentstatus = ps;
                ChildStatus = cs;
                cstatusid = id;
                pgroupid = groupid;
                date = dt;
                rows = count;


                $.ajax({
                    url: '/Dashboard/CreateMaintenancedialog',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#full_screen_loader').hide();
                        $('#dialogbody').html(result);

                        editemplate = $("#contentdiv_1").html();

                        document.getElementById('h4').innerHTML = buildingname + " >> " + mrooms;
                        var message = document.getElementById('hiv_' + roomid).value;

                        if (message != "") {
                            const myArray = JSON.parse(message);
                            if (myArray.length > 0) {
                                $('#ParendStatus_1 option[value=' + myArray[0].pStatus + ']').attr('selected', 'selected');
                                $('#ChildStatus_1 option[value=' + myArray[0].cStatus + ']').attr('selected', 'selected');
                                $('#texdes_1 ').val(myArray[0].Description);
                                $("#texdes_1").removeAttr("disabled");
                                $("#ChildStatus_1").removeAttr("disabled");
                                $('#hivid_1 ').val(myArray[0].statusid);
                            }
                        }
                        //$('#ParendStatus_1 option[value=' + ps + ']').attr('selected', 'selected');
                        //$('#ChildStatus_1 option[value=' + cs + ']').attr('selected', 'selected');


                        $("#loginModal").modal('show');
                        editcontrols(roomid);

                    },
                    error: function (xhr, status) {
                        $('#full_screen_loader').hide();
                        alertify.error('OOp! something went wrong...');
                        //alert(status);
                    },
                    complete: function () { }

                });
                //.done()(function (result) {
                //    alert(result);
                //    $('#dialogbody').html(result);
                //    $("#loginModal").modal('show');
                //})
                //    .fail()(function (xhr, status) {
                //    alert(status);
                //})


                //$("#dialogbody").load("/Dashboard/Createdialog", function () {
                //    $("#loginModal").modal('show');
                //})


            }


            function show_status_in_model_mob(buildingname, buildingid, mrooms, roomid, ps, cs, id, groupid, dt, count,hkeepingid) {


                $('#full_screen_loader').show();
                document.getElementById('hbuildingid').value = buildingid;
                document.getElementById('hroomid').value = roomid;

                Parentstatus = ps;
                ChildStatus = cs;
                cstatusid = id;
                pgroupid = groupid;
                date = dt;
                rows = count;
                HousekeepingID = hkeepingid

                $.ajax({
                    url: '/Dashboard/CreateMaintenancedialogmob?Groupid=' + pgroupid + '&CurrentStatusID=' + HousekeepingID + '',
                    contentType: 'application/html; charset=utf-8',
                    type: 'GET',
                    dataType: 'html',
                    success: function (result) {
                        $('#full_screen_loader').hide();
                        $('#mobdialogbody').html(result);
                        document.getElementById('h4_mob').innerHTML = buildingname + " >> " + mrooms;

                        $("#mobloginModal").modal('show');


                    },
                    error: function (xhr, status) {
                        $('#full_screen_loader').hide();
                        alertify.error('OOp! something went wrong...');
                        //alert(status);
                    },
                    complete: function () { }

                });
                //.done()(function (result) {
                //    alert(result);
                //    $('#dialogbody').html(result);
                //    $("#loginModal").modal('show');
                //})
                //    .fail()(function (xhr, status) {
                //    alert(status);
                //})


                //$("#dialogbody").load("/Dashboard/Createdialog", function () {
                //    $("#loginModal").modal('show');
                //})


            }

            // custom function open the tabs
            function openalltabs() {

                var acc = document.getElementsByClassName("accordion");

                var i;
                for (i = 0; i < acc.length; i++) {
                    acc[i].classList.toggle("active");
                    var panel = acc[i].nextElementSibling;
                    panel.classList.add("panel");
                    panel.style.maxHeight = panel.scrollHeight + "px";
                }

            }
            function savestatus() {

               // $('.comments').removeClass("validation-failed");
                var div = $(".layout");

                var list = [];

                for (i = 0; i < div.length; i++) {
                    statussave = {
                        intParentStatus: -1,
                        intChildStatus: 0,
                        Description: "",
                        intBuildingID: document.getElementById('hbuildingid').value,
                        intRoomID : document.getElementById('hroomid').value,
                        intStatusID: "-1",
                        isGroupID: pgroupid,
                        intSeqID : "-1",

                    };
                    var id = $(div[i]).attr("id").split("_");
                    statussave.intParentStatus = $("#ParendStatus_" + id[1]).val();
                    if ($("#ParendStatus_" + id[1]).val() != -1) {
                        statussave.intStatusID = $("#ParendStatus_" + id[1]).val();
                    }
                    statussave.intChildStatus = $("#ChildStatus_" + id[1]).val();
                    statussave.intSeqID = $("#hivid_" + id[1]).val();

                    if ($("#texdes_" + id[1]).val().length > 0) {
                        statussave.Description = $("#texdes_" + id[1]).val();
                    }
                    else {

                        $("#texdes_" + id[1]).addClass("validation-failed");
                        return;
                    }

                    list.push(statussave);
                }

               // alert(JSON.stringify(list));

                $.ajax({
                    url: '/Dashboard/SaveSelectedMaintenanceStatus',
                    type: 'POST',
                    data: { 'statusDetails': JSON.stringify(list), 'statusid': cstatusid, 'dt': date },
                    dataType: 'json',

                    success: function (d) {
                        $("#loginModal").modal('hide');
                        alertify.notify('<span class="fa fa-check" style="font-size:24px;"></span><br>' + " Good job! Your status has been saved", 'success', 3);
                        loadgrid();
                        loadsummary();
                        loadmobsummary();

                    },
                    error: function (r) {

                        alert(r);
                    }
                });

            }


            var openFile = function (event) {

                var input = event.target;

                var reader = new FileReader();
                reader.onload = function () {
                    var dataURL = reader.result;
                    //var output = document.getElementById('output');
                    //var output1 = document.getElementById('showdata').value = dataURL;

                    //output.src = dataURL;
                    base64string = dataURL;
                    //alert(dataURL);
                };
                reader.readAsDataURL(input.files[0]);
            };

        </script>
