@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}




   
        <div class="row" style="padding:10px">
            <div class="col-12">
                <div class="box box-solid bg-yellow js-box_button js-room_status_btns" data-value="6" is-last="0" style="background-color: #ec8409!important;">
                    <div class="box-body">
                        <div class="text-center cxm-icon">
                            <span class="fa fa-clock-o "></span>
                        </div>
                        <div class="text-center">Started Working</div>
                    </div>
                </div>
            </div>

        </div>
   


