@{
    ViewData["Title"] = "Home Page";
   
}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/treestyle.css" rel="stylesheet" />
    <link href="~/css/webthemes.css" rel="stylesheet" />
    <link href="~/css/gridstyleing.css" rel="stylesheet" />
<style type="text/css">
    .room_status_box {
        width: 10px;
        height: 23px;
        display: inline-block;
        margin-right: 3px;
    }
    .star_color {
        color: #F90;
    }
    .tf-nc {
        height: 120px;
        width: 270px;
    }
    .status_hierarchy_center {
        font-size: 12px;
    }

</style>

    <div class="container-fluid-custom">
        <div class="box ml-sm-1 mr-sm-1">
            <div class="tf-tree tf-gap-lg">
                <ul>

                    <li>
                        <span class="tf-nc">
                            1
                        </span>
                        <ul>
                            <li>
                                <span class="tf-nc">
                                 2
                                </span>
                                <ul>
                                    <li>
                                        <span class="tf-nc">4</span>
                                        <ul>
                                            <li><span class="tf-nc">5</span></li>
                                            <li><span class="tf-nc">6</span></li>
                                        </ul>
                                    </li>

                                </ul>
                            </li>
                            <li>
                                <span class="tf-nc">
                                    3
                                </span>

                            </li>
                        </ul>
                    </li>
               

                </ul>
            </div>
        </div>
        </div>


            



